* {
  margin: 0;
  padding: 0;
  }  

.nav {
  padding-left: 13px;
  padding-right: 13px;
  text-decoration: none;
  font-size: 16px;
  color: #2A2A35;
}

.header {
  font-family: 'Open Sans', sans-serif;
  padding-top: 7px;
  padding-bottom: 25px;
  border: 1px;
}

#logo {
  font-size: 40px;
  color: #006AFF;
  padding-left: 173px;
  padding-right: 173px;

}

.left-side {
  display: inline;
  padding-left: 70px;
}

.right-side {
  display: inline;
  padding-left: 20px;
  padding-top: 500px;
}

/* Splash pic */

.splashy {
  text-align: center;
}

#splash_pic {
  margin-left: 0px;
  padding-left: 0px;
  width: 1440px;
}

#sleepy {
  font-size: 38px;
  color: #FFFFFF;
  position: relative;
  margin: -400px;
}

