* {
  margin: 0;
  padding: 0;
  }  

.nav {
  padding-left: 13px;
  padding-right: 13px;
  text-decoration: none;
  font-size: 16px;
  color: #2A2A35;
}

.header {
  font-family: 'Open Sans', sans-serif;
  padding-top: 7px;
  padding-bottom: 25px;
  border: 1px;
}

#logo {
  font-size: 40px;
  color: #006AFF;
  padding-left: 173px;
  padding-right: 173px;

}

.left-side {
  display: inline-flex;
  list-style: none;
  padding-left: 85px;
}

.right-side {
  display: inline-flex;
  list-style: none;
}

/* Splash pic */

.splashy {
  text-align: center;
}

#splash_pic {
  margin-left: 0px;
  padding-left: 0px;
  width: 100%;
}

#sleepy {
  font-size: 38px;
  color: #FFFFFF;
  position: relative;
  margin: -400px;
}

#splash_search {
  margin-top: 25px;
  width: 30%;
  height: 65px;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  border-color: #D1D1D5;
}

.buy-sub {
  display: none;
}
